@model Kursach.Models.Campaign
@using Kursach.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .post {
            display: block;
            border: solid thin;
            margin-top: 1%;
            padding-left: 2%;
            padding-top: 2%;
            border-radius: 1em;
        }
    </style>
</head>

<p>Site of @Model.Name</p>

<p><a asp-controller="Campaign" asp-action="AddPost" asp-route-id=@Model.Id>New post</a></p>

@foreach (var t in CampaignController.context.Posts.OrderByDescending(x => x.Time).Where(u => u.CampaignId == Model.Id).ToList())
{
    <div class="post">
        <h5>@t.Campaign.Name</h5>
        <p>@t.Content</p>
    </div>
}