<head>
    <style>
        .post {
            display: block;
            border: solid thin;
            margin-top: 1%;
            padding-left: 2%;
            padding-top: 2%;
            border-radius: 1em;
        }
    </style>
</head>

@model List<Tuple<string, string>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var t in Model)
{
    <div class="post">
        <h5>@t.Item1</h5>
        <p>@t.Item2</p>
    </div>
}