@model Kursach.Models.User


<h1>PersonalCabinet</h1>

<p>Edit profile</p>

<p>Your name @Model.Name</p>

<p><a asp-controller="Campaign" asp-action="Create">Create campaign</a></p>

@await Html.PartialAsync("_CampaignsTable", Model)